<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PhotoServer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  </head>
  <body>
    <div class="page-header">
      <h3>Upload Test</h3>
    </div>
    <div class="hero-unit">
      <div class="input-append">
        <form action="/upload-photo" method="post" enctype="multipart/form-data">
          <input class="span5" type="file" name="upfile" multiple="multiple" >
          <input class="btn btn-primary" type="submit" value="Upload image (post)">
        </form>
      </div>
      <div id="chat-area" style="height: 300px; overflow: scroll;"></div>
    </div>

    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-2.1.1.min.js"></script>
  </body>
</html>

